header {
 background: aliceblue;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: rgba(147, 178, 204, 0.877);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
 .caixa {
    position: relative;
    width: 940px;
    right:0 auto;
 }