header{
  background-color: azure;
}
body{
    background-color: azure;
}
.titulo-centralizado{
    text-align: center;
}
.titulo-centralizado{
    text-align: center;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: black #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}